<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Gestión de Eventos</title>
</head>

<body>

	<table>

		<tr>
			<th>Tipos</th>
			<th>Eventos</th>
			<th>Usuarios</th>
			<th>Eventos / Tipo</th>
			<th>Login</th>
			<th>Registro</th>
			<th>Salir</th>
		</tr>
	</table>

	<h2>Listado de Eventos Activos</h2>

	<button>Nuevo Evento</button>

	<table id="tab1" border="2" width=75%>
		<tr>
			<th>ID</th>
			<th>Nombre</td>
			<th>Precio</td>
			<th>Destacado</td>
			<th>Estado</td>
		</tr>
		<tr th:each="evento : ${eventosActivos}">
			<td th:text="${evento.idEvento}"></td>
			<td th:text="${evento.nombre}"></td>
			<td th:text="${evento.precio}"></td>
			<td th:text="${evento.destacado}"></td>
			<td th:text="${evento.estado}"></td>
		</tr>

		
	</table>

	<table id="tab2">
		<tr>
			<th colspan="4">Opciones</th>
		</tr>
		<tr>
			<td class="detalles">Ver Detalle</td>
			<td class="editar">Editar</td>
			<td class="cancelar">Cancelar</td>
			<td class="eliminar">Eliminar</td>
		</tr>
	</table>




</body>

</html>